
target/
dbt_packages/
logs/
*.db
**/__pycache__/
*.csv
.venv/
.vscode/
.env

# Allow small seeds.
!chicago_community_areas.csv
!chicago_location_descriptions.csv
!chicago_offense_primary_types.csv
!chicago_offense_descriptions.csv